<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.0" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee">

<display-name>Welcome to Tomcat</display-name>
<description>Welcome to Tomcat </description>

<context-param>
<description>Hello</description>
<param-name>Hello</param-name>
<param-value>World</param-value>
</context-param>

</web-app>